body {
  padding: 9px;
  font-family: Vessrdana, sans-serif;
}

h1 {
  font-size: 24pt;
}

h2 {
  font-size: 18pt;
}

h3 {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #060;
}

a:hover {
  text-decoration: underline;
}

.clj-input {
  border: 1px solid #080;
  width: 200px;
}

.clj-select {
  background-color: inherit;
  font-weight: bold;
  color: #626;
}

.clj-input:focus {
  background-color: #DFC;
}

#hanging-bracket {
  position: relative;
  left: -224px;
}

.form-label {
  width: 200px;
  vertical-align: top;
}

.show-label {
  width: 150px;
  vertical-align: top;
  display: table-cell;  /* I am not sure at all about table-cell here, but it works in chrome and FF */
}

span.show-content {
  display: table-cell; /* I am not sure at all about table-cell here, but it works in chrome and FF */
}

.fake-link {
  color: #060;
}

.fake-link:hover {
  cursor: pointer;
}

div.content-box {
  border: 1px solid #0A0;
  padding: 4px;
  margin-bottom: 4px;
}

div.add-form-row {
  margin-top: 4px;
  padding-left: 8px;
  display: table;
}

div.show-project-row {
  margin-top: 4px;
  padding-left: 8px;
  display: table;
}

div.add-field-explanation {
  display: inline-block;
  margin-left: 20px;
  color: #888;
}

.clj-j {
  color: #0A0;
  font-style: italic;
}

.fn {
  font-weight: bold;
}

.keyword {
  font-weight: bold;
  color: #626;
  padding-left: 32px;
}

#log {
  font-family: courier;
  font-size: small;
}

div.find-projects-results {
    margin-top: 4px;
}

div.find-projects-item{
    margin-top: 4px;
    padding-left: 20px;
    padding-right: 20px;
}

div.find-projects-item:hover {
  background-color: #DFC;
  cursor: pointer;
}

span.tag:before {
    content: ":";
}
